
<div class="create card">

  <%= form_for @card, html: {class: "simple_form"} do |f| %>

    <div class="text_content field card_type">

      <% for category in Card.categories.keys %>
        <%= f.radio_button :category, category %> <%= f.label(:category, t(category), value: category ) %>
      <% end %>

    </div>

    <div class="field card_title">
      <%= f.label(:title, t('title')) %>
      <%= f.text_field :title, class: 'input'  %>
    </div>

    <div class="field card_media">
      
      <div class="upload_media media_upload_selector">
        <%= link_to '<i class="fa fa-file-photo-o"></i> Imagen'.html_safe, '', title: 'Foto, cartel, portada...', class: 'media_upload_image_link' %>
        <%= link_to '<i class="fa fa-file-movie-o"></i> Video'.html_safe, '', title: 'Video. Y ya.', class: 'media_upload_video_link' %>
        <%= link_to '<i class="fa fa-file-audio-o"></i> Sonido'.html_safe, '', title: 'Canciones, entrevistas...', class: 'media_upload_audio_link' %>
      </div>

      <div class="media_upload_image_cont upload_media hidden">
        
        <a href="" class="upload_media_back_to_selector"><i class="fa fa-arrow-left"></i></a>
        
        Selecciona una imagen de tu disco duro...

      </div>

      <div class="media_upload_video_cont upload_media hidden">

        <a href="" class="upload_media_back_to_selector"><i class="fa fa-arrow-left"></i></a>

        <div class="media_upload_video_cont_inner">
          <label for="">Introduce la URL del video en Youtube</label>
          <%= text_field_tag('card_media', '', :id => 'card_title', :class => 'input') %>
        </div>

      </div>

    </div>

    <div class="field card_text">
      <%= f.label(:content, t('text')) %>
      <%= f.text_area :content, class: 'input' %>
    </div>

    <div class="further field card_related" style="display: none">

      <div class="related">

        <div class="related_block">
          <h3><label for="card_dimension_1">Capítulos</label></h3>
          <!-- podemos usar un select2 -->
          <%= text_field_tag('card_related', '', :id => 'card_dimension_1', :class => 'input') %>
        </div>

        <div class="related_block">
          <h3><label for="card_dimension_2">Bandas</label></h3>
          <%= text_field_tag('card_related', '', :id => 'card_dimension_2', :class => 'input') %>
        </div>

        <div class="related_block">
          <h3><label for="card_dimension_3">Personas</label></h3>
          <%= text_field_tag('card_related', '', :id => 'card_dimension_3', :class => 'input') %>
        </div>

        <%= submit_tag "Añadir dimensión", :class => 'btn small light' %>

      </div>

    </div>

    <div class="field card_submit right">
      
      <%= f.submit "Guardar", class: "btn" %>

    </div>

  <% end %>

</div>