<!DOCTYPE html>
<html>
<head>
  <title>Wikidoc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site">
  <div class="main clearfix">
    <%= link_to((image_tag 'lqh-logo.png', class: 'logo'), root_path) %>

    <menu class="content">
      <ul>
      <% for category in Card.categories.keys %>
        <li><%= link_to category.pluralize, card_category_path(category) %></li>  
      <% end %>

        <!-- <li><%= link_to 'La Película', '/sandbox/list' %></li>
        <li><%= link_to 'Bandas', '' %></li>
        <li><%= link_to 'Personas', '' %></li>
        <li><%= link_to 'Épocas', '' %></li>
        <li><%= link_to 'Temas', '' %></li>
        <li><%= link_to 'Lugares', '' %></li> -->
      </ul>
    </menu>

    <%= link_to 'Add content', new_card_path, class: 'add_content' %>

  </div>

  <menu class="tools_links">
    <ul class="after_separator">
      
      <% if logged_in? %>
        <li><%= link_to t('hello', name: current_user.name), current_user %></li>
        <li><%= link_to t('log_out'), logout_path, method: "delete" %></li>
      <% else %>
        <li class="cd-signin sb-close"><%= link_to 'Conéctate', '#0', :class => 'cd-signin' %></li>
      <% end %>

      <li><%= link_to 'Acerca de', '' %></li>
      <li><%= link_to 'Últimos cambios', '' %></li>
      <li><%= link_to 'Recibe actualizaciones', '' %></li>
      <li><%= link_to 'Tu cuenta', '' %></li>
    </ul>
  </menu>

</header>

<%= yield %>

<footer class="site">
    
  <menu class="tools_links">
    <ul class="after_separator">
      <li><%= link_to 'Acerca de', '' %></li>
      <li><%= link_to 'Últimos cambios', '' %></li>
      <li><%= link_to 'Recibe actualizaciones', '' %></li>
      <li><%= link_to 'Tu cuenta', '' %></li>
    </ul>
  </menu>

</footer>


<footer class="app">
    Built with XXX / by Populate.tools
</footer>

<% unless logged_in? %>
  <%= render 'users/modal_login' %>
<% end %>


</body>
</html>
